In [1]:
# http://www.nfd.com.tw/lottery/lottyear/year.htm

import pandas as pd

years = range(2004, 2016)

get_hist_table = lambda year: pd.read_html("http://www.nfd.com.tw/lottery/49-year/49-%s.htm" % year)[0][1:]

In [2]:
hist_tables = map(get_hist_table,years)

In [3]:
df = pd.concat(hist_tables)

In [16]:
df

       0       1    2   3   4   5   6   7   8   9     10
1    2004  01/ 05    1  06  09  12  13  33  39  21   001
2    2004  01/ 08    2  16  21  27  30  31  47  35   002
3    2004  01/ 12    3  02  04  25  26  34  43  41   003
4    2004  01/ 15    4  18  19  28  29  30  34  12   004
5    2004  01/ 19    5  14  15  20  29  32  39  43   005
6    2004  01/ 22    6  13  28  29  32  33  34  43   006
7    2004  01/ 26    7  02  06  13  34  40  44  14   007
8    2004  01/ 29    8  22  29  34  36  44  46  37   008
9    2004  02/ 02    9  04  06  11  22  42  48  23   009
10   2004  02/ 05   10  17  22  26  29  37  43  31   010
11   2004  02/ 09   11  14  17  20  25  43  48  15   011
12   2004  02/ 12   12  01  02  26  31  39  40  38   012
13   2004  02/ 16   13  07  13  18  19  25  37  14   013
14   2004  02/ 19   14  04  21  25  32  37  43  02   014
15   2004  02/ 23   15  03  06  17  23  28  32  45   015
16   2004  02/ 26   16  08  12  23  24  45  46  36   016
17   2004  03/ 01   17  01  11  17  25  41  45  32   017
18   2004  03/ 04   18  12  15  22  23  41  48  17   018
19   2004  03/ 08   19  08  12  17  18  19  34  37   019
20   2004  03/ 11   20  08  14  21  22  30  31  48   020
21   2004  03/ 15   21  01  02  07  26  38  43  04   021
22   2004  03/ 18   22  06  16  20  25  33  46  12   022
23   2004  03/ 22   23  02  12  14  30  41  46  29   023
24   2004  03/ 25   24  11  17  21  36  43  49  05   024
25   2004  03/ 29   25  11  13  15  21  35  38  37   025
26   2004  04/ 01   26  03  07  42  45  46  49  08   026
27   2004  04/ 05   27  16  24  25  26  39  44  30   027
28   2004  04/ 08   28  05  14  26  38  41  43  04   028
29   2004  04/ 12   29  24  25  26  30  36  48  45   029
30   2004  04/ 15   30  13  14  20  30  37  45  01   030
..    ...     ...  ...  ..  ..  ..  ..  ..  ..  ..   ...
92   2014  11/ 04   92  03  20  30  35  38  41  47  1138
93   2014  11/ 07   93  11  19  25  27  40  49  33  1139
94   2014  11/ 11   94  05  11  18  23  36  43  14  1140
95   2014  11/ 14   95  15  16  29  34  41  44  49  1141
96   2014  11/ 18   96  11  12  20  26  28  43  06  1142
97   2014  11/ 21   97  02  03  22  26  32  34  40  1143
98   2014  11/ 25   98  01  15  16  32  44  48  40  1144
99   2014  11/ 28   99  01  10  21  35  40  44  36  1145
100  2014  12/ 02  100  09  11  13  23  26  42  47  1146
101  2014  12/ 05  101  11  18  30  34  37  47  17  1147
102  2014  12/ 09  102  07  09  23  33  41  43  24  1148
103  2014  12/ 12  103  07  08  24  29  32  48  37  1149
104  2014  12/ 16  104  17  28  32  34  35  45  08  1150
105  2014  12/ 19  105  01  09  24  32  41  49  40  1151
106  2014  12/ 23  106  03  27  30  31  32  39  35  1152
107  2014  12/ 26  107  09  27  32  42  45  49  30  1153
108  2014  12/ 30  108  07  30  32  44  48  49  45  1154
1    2015  01/ 02    1  13  22  23  29  31  48  06  1155
2    2015  01/ 06    2  11  16  29  30  37  43  13  1156
3    2015  01/ 09    3  07  08  18  21  23  24  11  1157
4    2015  01/ 13    4  02  14  16  22  37  46  49  1158
5    2015  01/ 16    5  02  17  28  32  38  46  49  1159
6    2015  01/ 20    6  09  24  28  35  45  47  48  1160
7    2015  01/ 23    7  08  16  20  38  39  42  29  1161
8    2015  01/ 27    8  04  09  15  21  27  45  06  1162
9    2015  01/ 30    9  03  14  24  35  39  44  28  1163
10   2015  02/ 03   10  05  13  15  16  18  30  08  1164
11   2015  02/ 06   11  05  11  29  36  42  46  48  1165
12   2015  02/ 10   12  14  15  26  29  35  44  09  1166
13   2015  02/ 13   13  01  09  15  25  29  35  38  1167

[1167 rows x 11 columns]

In [17]:
df.columns = ["year","monthDay","YN","x1","x2","x3","x4","x5","x6","s","TN"]

In [18]:
df = df[["YN","TN","year","monthDay","x1","x2","x3","x4","x5","x6","s"]]

In [19]:
df["month"] = df["monthDay"].map(lambda xx:int(xx.split("/")[0]))

-c:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
df["day"] = df["monthDay"].map(lambda xx:int(xx.split("/")[-1]))

In [21]:
for col in ["year","x1","x2","x3","x4","x5","x6","s"]:
    df[col] = df[col].map(int)

-c:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
df = df[["TN","YN","year","month","day","x1","x2","x3","x4","x5","x6","s"]]

In [23]:
data_df = df[["x1","x2","x3","x4","x5","x6","s"]]

In [24]:
data_list = data_df.values.tolist()

In [25]:
from PlaYdata.core.base import tools

In [26]:
import itertools

In [27]:
all_data = []
for xx in  tools.ngram(data_list,3):
    all_data.extend(itertools.product(*xx))
    
all_data = map(list,all_data)
all_data_df = pd.DataFrame(all_data)
all_data_df.columns = ["x1","x2","x3"]

In [28]:
test = all_data_df.groupby(["x1","x2","x3"]).size()

In [29]:
test.sort()

In [30]:
test

x1  x2  x3
1   1   1     1
11  10  47    1
        44    1
        37    1
36  47  15    1
        29    1
        39    1
11  10  18    1
    11  13    1
36  48  1     1
11  10  6     1
36  48  13    1
11  10  3     1
36  48  20    1
11  9   38    1
...
16  27  30    12
30  49  27    12
16  41  30    12
8   16  28    12
30  31  48    12
46  47  11    12
5   8   49    12
13  37  23    12
23  49  12    12
16  41  28    12
42  3   12    12
47  11  41    13
28  26  46    13
43  41  26    13
46  8   11    14
Length: 113761, dtype: int64

In [37]:
data_df.values[0:2].tolist()

[[6, 9, 12, 13, 33, 39, 21], [16, 21, 27, 30, 31, 47, 35]]

In [46]:
data_list = data_df.values[0:2].tolist()
all_data = []
for xx in  tools.ngram(data_list,2):
    all_data.extend(itertools.product(*xx))
    
all_data = map(list,all_data)

In [47]:
list(tools.ngram(data_list,2))

[[[6, 9, 12, 13, 33, 39, 21], [16, 21, 27, 30, 31, 47, 35]]]

In [51]:
all_data[0]

[6, 16]

In [80]:
test.to_frame().query("x1 == 6 & x2 == 16")

          0
x1 x2 x3
6  16 44  1
      35  1
      17  1
      10  1
      3   1
      7   2
      6   2
      5   2
      2   2
      37  2
      31  2
      25  2
      49  3
      48  3
      46  3
      18  3
      13  3
      33  3
      32  3
      29  3
      28  3
      23  3
      12  4
      11  4
      9   4
      4   4
      1   4
      14  4
      39  4
      36  4
      47  4
      34  4
      16  4
      26  4
      45  5
      42  5
      38  5
      30  5
      27  5
      24  5
      21  5
      19  5
      15  5
      8   5
      22  6
      41  6
      40  7
      20  8
      43  8

In [71]:
test123

TypeError: unhashable type